body {
    text-align: center;
    background-color: #F195BC;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

h1 {
    color: #D72638;
}

h3 {
     color: #d86974;
     font-size: 11px;
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: 0.2s ease;
}

.yes-btn {
    background-color: green;
    color: white;
    font-size: 20px;
    z-index: 10;
}

.no-btn {
    background-color: red;
    color: white;
}

.gif-container img {
    width: 450px;
    height: auto;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.celebration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 20;
    text-align: center;
}

.celebration h2 {
    color: #D72638;
    font-size: 40px;
}

.celebration img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}
